/* Basislayout */

html, body {
 
    height: 100%;
    padding: 0;
    background-color: rgb(26, 23, 23);  
    
    color: #ffffff;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(201, 35, 35);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    font-family: monospace;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;  
}
img.zweefRechts {
    float: right;
}

.smalltext {
    font-size: 0.9em;
}

a {
    color: rgb(250, 248, 248);
    text-decoration: none;
}

a:hover {
    text-decoration: underline overline;
}
/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 10px 14px;
    border: 10px;
    background-color: #white;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ca5353e3;
}

nav li a.active {
    background-color: rgba(201, 35, 35, 0.87);
}




